/*Javascriptpro_*/
 @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#69C8AA;
font-family: 'Work Sans', sans-serif;
}

.wrapper{
padding:20px 20px 20px 20px;
width:350px;
background:#17181A;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
border-radius:5px;
}

.wrapper .title{
color:#69C8AA;
font-size:14px;
text-align:center;
}

.wrapper .title2{
font-size:19px;
font-weight:300;
text-align:center;
margin-top:3px;
color:white;
}

.wrapper .password-box{
height:45px;
width:310px;
border:1px solid #69C8AA;
display:flex;
align-items:center;
margin-top:22px;
border-radius:3px;
padding-left:10px;
}

.wrapper .password-box input{
all:unset;
height:43px;
width:270px;
color:white;
}

.wrapper .password-box button{
all:unset;
color:white;
margin-left:-6px;
cursor:pointer;
}

.wrapper .password-box button i{
font-size:23px;
}

.wrapper .refresh-btn{
all:unset;
height:40px;
width:310px;
background:#69C8AA;
color:white;
display:flex;
justify-content:center;
align-items:center;
margin-top:15px;
border-radius:3px;
cursor:pointer;
}

.wrapper .password-length{
height:60px;
width:310px;
margin-top:30px;
color:white;
}

.wrapper .password-length p {
margin-top:5px;
color:#69C8AA;
}

.wrapper .password-length input[type="range"]{
-webkit-appearance:none;
height:7px;
width:310px;
background:white;
border-radius:5px;
margin-top:15px;
cursor:pointer;
}

.wrapper .password-length input[type="range"]::-webkit-slider-thumb{
-webkit-appearance:none;
height:20px;
width:20px;
border-radius:100%;
background:white;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
cursor:pointer;
}

.wrapper .settings{
margin-top:10px;
}

.wrapper .settings h4{
font-size:14px;
color:white;
color:#69C8AA;
}

.wrapper .settings div{
height:30px;
width:310px;
margin-top:8px;
font-size:15px;
position:relative;
top:8px;
color:white;
}

.wrapper .settings div input[type="checkbox"]{
float:right;
-webkit-appearance:none;
height:18px;
width:18px;
background:white;
border-radius:2px;
display:flex;
justify-content:center;
align-items:center;
transition:all .2s;
cursor:pointer;
}

.wrapper .settings div input[type="checkbox"]::after{
content:"\e5ca";
font-family: "Material Icons";
position:absolute;
display:none;
}

.wrapper .settings div input[type="checkbox"]:checked{
background:#69C8AA;
transition:all .2s;
}

.wrapper .settings div input[type="checkbox"]:checked::after{
display:block;
color:white;
transition:all .2s;
}

::selection{
background:#69C8AA;
color:white;
}
